* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    --primary: 25,91,255;
    --color: 44, 62, 80;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f3f6;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.3;
}

.con-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    padding: 35px;
    margin: 30px;
    max-width: 450px;
    background: #fff;
    box-shadow: 0px 15px 20px 5px rgba(0,0,0,0.15);
}

.con-form .con-inputs {
    width: 100%;
    padding-bottom: 20px;
}

.con-form .con-inputs .con-already {
    width: 100%;
    text-align: right;
    padding: 5px;
}

.con-form .con-inputs .con-already a {
    font-size: 1rem;
    color: #6555df;
    text-decoration: none;
}

.con-input {
    margin-top: 20px;
}

.con-input .show {
    display: none;
}

.con-input button i {
    font-size: 1.18rem;
    display: block;
    color: #6555df;
}

.con-input__text {
    display: none;
}

input {
    width: 100%;
    padding: 14px 20px;
    border: 0px;
    border-radius: 18px;
    transition: all .25s ease;
    opacity: 1;
    background: #f1f3f6;
}

.con-input input:focus {
    opacity: 1;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #6555df;
    text-align: left;
    padding-left: 10px;
    display: block;
}
.con-input button {
    width: 44px;
    height: 44px;
    border: 0px;
    border-radius: 0px 18px 18px 0px;
    cursor: pointer;
    background: transparent;
}

.con-form footer {
    width: 100%;
}

.con-form .con-already:hover {
    text-decoration: underline;
}

.btn-signin {
    justify-content: right;
    background-color: #6555df;
    color: #fff;
    border: 0px;
    padding: 14px 20px;
    width: 100%;
    border-radius: 18px;
    display: block;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all .25s ease;
    box-shadow: 0px 15px 20px 0px rgba(101, 85, 223,0.4);
}

.btn-signin:hover {
    transform: translate(0px,5px);
    box-shadow: none;
}